/*.banner {*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*background: url("images/header.jpg") center repeat-x;*/
    /*background-size: cover;*/
/*}*/

.form-control.ng-touched.ng-invalid {
    border: thin solid #d9534f;
}

.form-control.ng-touched.ng-valid {
    border: thin solid #419641;
}

.ng-submitted .form-control.ng-valid  {
    border: thin solid #419641;

}

.ng-submitted .form-control.ng-invalid {
    border: thin solid #d9534f;

}

.getin-page h4 h2 h3 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #DDD;
    border-bottom: thin solid #DDD;
    padding: 20px 0;
}


.validation {
    color: #d9534f;
}

.validation > div{
    padding-top: 10px;
}
.validation .glyphicon {
    margin-right: 5px;
}

.confirm-page{
    margin-top: 100px;
}

div.center-align {text-align: center}