<div class="jumbotron" ng-controller="AdvertiseCtrl as ctrl">
    <img src="images/collage.jpg" alt="" width="100%">
    <h1>Welcome to Menu Registry!</h1>
    <br>

    <h2>Discover how we can serve you when you are our subscribed users.</h2>
    <br>
    <h3>Subscribed users enjoy many advantages compared to a casual browser.</h3>
    <br>
    <p>1. Discount coupons can be obtained digitally through the touch of a button. You can also be informed of special menus of your favourite eateris if you make a request.</p>

    <p>2. Our participating eateries can on the spot put you in their VIP list without any effort and you get to enjoy the perks.</p>

    <p>3. Through this station, you can directly place a reservation with the eatery via email or their setup systems.</p>

    <p>4. You can also check availability of tables during peak hours.</p>

    <p>Why wait? Proceed to sign up on our records.</p>
    <br><br>

<!--any difference from below?-->
    <!--<button ui-sref="/search" class="btn btn-success">Proceed</button>-->

    <a ui-sref="search">
        <button class="btn btn-success">Advanced Search</button>
    </a>
    <a ui-sref="register">
        <button class="btn btn-success" ng-hide="$rootScope.isLoggedIn">Sign Up</button>
    </a>

</div>
