<!--<div class="col-sms-2 col-lg-4"></div>-->
<div class="jumbotron" ng-controller="ConfirmCtrl as ctrl">
    <h2>Thank you!</h2>
    <br><br>
    <p>An account has been created for you.</p>
    <p>Thank you for registering with us. We'll follow-up with an email shortly.</p>
    <p>Please proceed to provide your profile information </p>
    <br><br><br>

    <a ui-sref="search">
        <button class="btn btn-success">Advanced Search</button>
    </a>
    <button class="btn btn-success" ng-click="ctrl.confirm()">Proceed to log in</button>
    <!--<button ui-sref="login" type="" class="btn btn-success">Proceed to log in</button>-->
</div>
