<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="LoginCtrl as ctrl" class="col-sm-8 col-lg-4 getin-page">
    <h4>Please login</h4>
    <form name="loginForm" ng-submit="loginForm.$valid && ctrl.login()" novalidate="" autocomplete="off">
        <div class="form-group">
            <label for="email">Email Address/Username registered</label>
            <input id="email" class="form-control" name="email" type="text" required
                   ng-model="ctrl.user.email"/>
            <div class="validation" data-ng-show="loginForm.email.$touched || loginForm.$submitted">
                <div data-ng-show="loginForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is required.
                </div>
                <div data-ng-show="loginForm.email.$error.email">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is invalid.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" name="password" type="password" required minlength="6"
                   ng-model="ctrl.user.password"/>

            <div class="validation" data-ng-show="loginForm.password.$touched || loginnForm.$submitted">
                <div data-ng-show="loginnForm.password.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password is required.
                </div>
                <div data-ng-show="loginnForm.password.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password must be at least 6 characters long.
                </div>
            </div>

        </div>

        <div class="form-group">
            <hr/>
            <input id="submit"
                   name="submit"
                   type="submit"
                   ng-disabled="loginForm.$invalid"
                   class="btn btn-success"/>
            <button class="btn btn-success" ng-show="ctrl.status.code==200">Proceed to Advanced Search</button>

            <!--<a href="/oauth/google" class="btn btn-danger">-->
            <!--<i class="fa fa-google-plus" aria-hidden="true"></i> Google-->
            <!--</a>-->
            <!--<a href="/oauth/facebook" class="btn btn-primary">-->
            <!--<i class="fa fa-facebook" aria-hidden="true"></i> Facebook-->
            <!--</a>-->
        </div>
        <div class="alert" role="alert" alert-dismissible
             ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==202, 'alert-danger':ctrl.status.code==403}"
             ng-show="ctrl.status.message">
            <button class="close" data-dismissible="alert">&times;</button>
            {{ctrl.status.message}}
        </div>
    </form>
</div>

<!--http://invadersthemes.com/wp-content/uploads/2014/04/ft-login.jpg-->
<!--www.klook.com-->
<!--cloud.estimote.com-->
<!--http://www.prepbootstrap.com/bootstrap-template/registration-form - for register-->