<!--<div class="col-sms-2 col-lg-4"></div>-->
<div class="jumbotron" ng-controller="MenuCtrl as ctrl">
    <div class="container">
        <h2>Menu Registry</h2>
        <p>- The place where you get up-to-date menu information from our participating eateries ...</p>
        <p><a class="btn btn-primary btn-lg" href="#" ng-click = "ctrl.learnmore()" role="button">Learn more..</a></p>
    </div>
</div>
