<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="ProfileCtrl as ctrl" class="col-sm-8 col-lg-4 getin-page">
    <h4>Please update profile information</h4>
    <br>
    <form name="profileForm" ng-submit="profileForm.$valid && ctrl.updateuser()" novalidate="">
        <div class="form-group">
        <label>Email Address</label>
          {{ctrl.email}}
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" class="form-control" name="username" type="text" required
                   ng-model="ctrl.userProfile.username"/>
            <div class="validation"  data-ng-show="profileForm.name.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Usename is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input id="first_name" class="form-control" name="first_name" type="text" required
                   ng-model="ctrl.userProfile.first_name"/>
            <div class="validation"  data-ng-show="profileForm.name.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.first_name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    First name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input id="last_name" class="form-control" name="last_name" type="text" required
                   ng-model="ctrl.userProfile.last_name"/>
            <div class="validation"  data-ng-show="profileForm.name.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.last_name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Last name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <br/>
            <input name="gender" type="radio" required value="M"
                   ng-model="ctrl.userProfile.gender"/>
            Male
            <input name="gender" type="radio" required value="F"
                   ng-model="ctrl.userProfile.gender"/>
            Female
        </div>
        <div class="form-group">
            <label for="born_on">Date of Birth</label>
            <input id="born_on" class="form-control" name="born_on" type="date" required
                   ng-model="ctrl.userProfile.born_on"/>

            <div class="validation" data-ng-show="profileForm.born_on.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.born_on.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Date of Birth is required.
                </div>
                <div data-ng-show="profileForm.born_on.$invalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    Invalid Date!
                </div>
                <!--<div data-ng-hide="ctrl.isAgeValid()">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--You must be at least 16 years to register.-->
                <!--</div>-->
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input id="phone" class="form-control" name="phone" type="text" required
                   ng-pattern="/^[0-9]*$/" ng-model="ctrl.userProfile.phone"/>
            <div class="validation"  data-ng-show="profileForm.phone.$touched || profileForm.$submitted">
                <div data-ng-show="profileForm.phone.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Phone Number is required.
                </div>
                <div data-ng-show="profileForm.phone.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>
                    Phone Number contains invalid characters.
                </div>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="address">Address Line1</label>&ndash;&gt;-->
            <!--<input id="address" class="form-control" name="address" type="text" required -->
                <!--ng-model="ctrl.address.address"/>-->

            <!--<div class="validation"  data-ng-show="profileForm.address.$touched || profileForm.$submitted">-->
                <!--<div data-ng-show="profileForm.address.$error.required">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Address is required.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="address2">Address Line2</label>-->
            <!--<input id="address2" class="form-control" name="address1" type="text" -->
                   <!--ng-model="ctrl.address.address2"/>-->
        <!--</div>-->
        <div class="alert" role="alert" alert-dismissible
             ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code==200, 'alert-danger':ctrl.status.code==500}"
             ng-show="ctrl.status.message">
            <button class="close" data-dismissible="alert">&times;</button>
            {{ctrl.status.message}}
        </div>
        <div class="form-group">
            <hr/>
            <input id="submit"
                   name="submit"
                   type="submit"
                   ng-disabled="profileForm.$invalid"
                   class="btn btn-success"/>
            <button class="btn btn-success" ng-show="ctrl.status.code==200">Proceed to Advanced Search</button>
        </div>
    </form>
</div>
