<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="RegisterCtrl as ctrl" class="col-sm-8 col-lg-4 getin-page">
    <h4>Please register your details</h4>
    <br>
    <form name="registerForm" ng-submit="registerForm.$valid && ctrl.createuser()" novalidate="">

        <div class="form-group">
            <label for="username">User Name</label>
            <input id="username" class="form-control" name="username" type="text" required
                   ng-model="ctrl.user.username"/>
            <div class="validation" data-ng-show="registerForm.username.$touched || registerForm.$submitted">
                <div data-ng-show="registerForm.username.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Username is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" name="email" type="text" required
                   ng-model="ctrl.user.email"/>
            <div class="validation" data-ng-show="registerForm.username.$touched || registerForm.$submitted">
                <div data-ng-show="registerForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password"
                   class="form-control"
                   name="password"
                   type="password"
                   required
                   minlength="6"
                   ng-model="ctrl.user.password"/>

            <div class="validation"  data-ng-show="registerForm.password.$touched || registerForm.$submitted">
                <div data-ng-show="registerForm.password.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password is required.
                </div>
                <div data-ng-show="registerForm.password.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span>
                    Password must be at least 6 characters long.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" class="form-control" name="confirmPassword"type="password" required
                   ng-model="ctrl.confirmPassword"/>
            <div class="validation"  data-ng-show="registerForm.confirmPassword.$touched || registerForm.$submitted">
                <div data-ng-show="registerForm.confirmPassword.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Confirm Password is required.
                </div>
                <div data-ng-show="ctrl.user.password != ctrl.confirmPassword">
                    <span class="glyphicon glyphicon-alert"></span>
                    Passwords do not match
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="about_message">Message</label>
            <textarea name="about_message" id="about_message" class="form-control" rows="5"
                      ng-model="ctrl.user.about_message"></textarea>
            <!--required -->
        </div>
        <div class="form-group">
            <!--<br>-->
            <input id="submit"
                   name="submit"
                   type="submit"
                   ng-disabled="registerForm.$invalid"
                   class="btn btn-success">
            <!--<a href="/oauth/google" class="btn btn-danger">-->
                <!--<i class="fa fa-google-plus" aria-hidden="true"></i> Google-->
            <!--</a>-->
            <!--<a href="/oauth/facebook" class="btn btn-primary">-->
                <!--<i class="fa fa-facebook" aria-hidden="true"></i> Facebook-->
            <!--</a>-->
        </div>
        <div class="alert" role="alert" alert-dismissible
             ng-show="ctrl.status.code"
             ng-class="{'alert-success': ctrl.status.code1==202, 'alert-danger':ctrl.status.code1==500}"
             ng-show="ctrl.status.message">
            <button class="close" data-dismissible="alert">&times;</button>
            {{ctrl.status.message}}
        </div>

</form>
</div>


