<!--<div class="col-sm-2 col-lg-4"></div>-->
<!--<div ng-controller="SearchCtrl as ctrl" class="col-sm-8 col-lg-4 update-page">-->
<div ng-controller="SearchCtrl as ctrl">

<div class="container">
    <h2>What are you interested in searching?</h2>
    <br>
    <!--<input type="text" ng-model="searchBox">-->
    <h3>Looking for a place to dine or any cuisine that you want to lay our hands on?</h3>
    <br>
    <form name="queryForm" novalidate  ng-submit="ctrl.search()">
        <p>Where to go? You can use keyword/name  of eatery</p>
        <label for="eat_name">Eatery name/keyword:</label>
        <input id="eat_name" type=”text” class="form-control" required ng-model="ctrl.search.eat_name_like">
        <br>
        <p>What to eat? You can use keyword/name of item on their menu</p>
        <label for="menu_item">Menu Item name/keyword:</label>
        <input id="menu_item" type=”text” class="form-control" required ng-model="ctrl.search.menu_item_like">
        <br>
        <button type="submit"  class="btn btn-success" ng-disabled="queryForm.$invalid">Search</button>

    </form>

    <table class="table table-striped" ng-show="ctrl.eateries">
        <br><br>
        <h4>List of matching/matched eateries:</h4>
        <h5>- Click on selected eatery for full details.</h5>
        <br>

        <thead>
        <tr>
            <th width=10%>Action</th>
            <th >Eatery View</th>
            <th width=25%>Eatery Name</th>
            <th>Address</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="e in ctrl.eateries">
            <td width="10%">
                <button type="button" class="list-group-item btn btn-success"
                        ng-click="ctrl.getItems(e.id)">Select
                </button>
            </td>
            <td><img src="/images/eat_front.jpg" width="30px" height="40px"></td>
            <td width=25%>{{ e.name}}</td>
            <td>{{ e.eat_address1 }}</td>
            <td>{{e.eat_address2 }}</td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <table class="table table-striped" ng-show="ctrl.eateries">
        <br><br>
        <h4>List of matching/matched item on their menus:</h4>
        <h5>- Click on selected item for full details.</h5>
        <br>

        <thead>
        <tr>
            <th width=10%>Action</th>
            <th >Cuisine Look</th>
            <th width=25%>Item Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="e in ctrl.eateries">
            <td width="10%">
                <button type="button" class="list-group-item btn btn-success"
                        ng-click="ctrl.getItems(e.id)">Select
                </button>
            </td>
            <td><img src="/images/eat_front.jpg" width="30px" height="40px"></td>
            <td width=25%>{{ e.name}}</td>
            <td>{{ e.eat_address1 }}</td>
            <td>{{e.eat_address2 }}</td>
        </tr>
        </tbody>
    </table>


</div>
</div>