<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="ProtectedDetailCtrl as ctrl" class="col-sm-8 col-lg-4 update-page">
    <h4>User Details - Updating currently not enabled</h4>
    <ul class="list-group">
        <h1 class="text-center">{{ctrl.user.first_name}}{{ctrl.user.last_name}}</h1>
        <li class="list-group-item">Email: :{{ctrl.user.email}} Username: :{{ctrl.user.username}}  Role:{{ctrl.user.role}}  Active: {{ctrl.user.active}}</li>
    </ul>
    <button class="btn btn-primary" ng-click="ctrl.back()">Back<</button>
</div>


