<div class="col-sm-1 col-lg-2"></div>
<div ng-controller="ProtectedCtrl as ctrl" class="col-sm-9 col-lg-8 getin-page">
    <h4>Please enter role or name(first/last) to get user listing</h4>
    <br>
    <form name="queryForm" novalidate  ng-submit="ctrl.userList()">
        <div class="form-group">
            <label>User Role:</label>
            <br/>
            <input name="role" type="radio" required value="USER     "
                   ng-model="ctrl.searchList.role"/>
            User
            <input name="role" type="radio" required value="SYSTEM   "
                   ng-model="ctrl.searchList.role"/>
            System Administrator
            <input name="role" type="radio" required value="EATADM   "
                   ng-model="ctrl.searchList.role"/>
            Eatery Administrator
            <input name="role" type="radio" required value="GRPADM   "
                   ng-model="ctrl.searchList.role"/>
            Eatery Group Administrator
        </div>
        <br/>
        <label for="user">User name/keyword:</label>
        <input id="user" type=”text” class="form-control" required ng-model="ctrl.searchList.name">
        <br>
        <button type="submit"  class="btn btn-success" ng-disabled="queryForm.$invalid">Search</button>

    </form>

    <div ng-show="ctrl.users">
        <br><br>
        <h4>List of requested users:</h4>
        <br>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="u in ctrl.users">
                <!--<a ui-sref="detail({UserId: user.id})"></a>        -->
                <button type="button" class="btn btn-success"
                        ng-click="ctrl.click(u.id)">Edit
                </button>
                <!--<button type="button" class="btn btn-success"-->
                        <!--ng-click="ctrl.deleteUser(u.id)">Delete-->
                <!--</button>-->
                <div style="margin-bottom: 10px">
                    Email: {{ r.email }}  Name: {{r.first_name}} {{r.last_name}}  Role: {{r.role}}
                </div>
            </li>
        </ul>
    </div>
</div>

