<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="ProtectedDetailCtrl as ctrl" class="col-sm-8 col-lg-4 update-page">
    <h4>Edit Use</h4>
    <form name="updateUserForm" ng-submit="updateUserForm.$valid && ctrl.updateUserDetail()" novalidate="">
        <div class="form-group">
            <label for="role">Title</label>
            <input id="role" class="form-control" name="role"
                   type="text" required ng-model="ctrl.user.role"/>
            <div class="validation" data-ng-show="updateUserForm.title.$touched || updateUserForm.$submitted">
                <div data-ng-show="updateUserForm.title.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Role is mandatory.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="firstname">Author Firstname:</label>
            <input id="firstname" class="form-control" name="author_firstname"
                   type="text" required ng-model="ctrl.book.author_firstname"/>
            <div class="validation" data-ng-show="updateBookForm.title.$touched || updateBookForm.$submitted">
                <div data-ng-show="updateBookForm.author_firstname.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Lastname is mandatory.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastname">Author Lastname:</label>
            <input id="lastname" class="form-control" name="author_lastname"
                   type="text" required ng-model="ctrl.book.author_lastname"/>
            <div class="validation" data-ng-show="updateBookForm.title.$touched || updateBookForm.$submitted">
                <div data-ng-show="updateBookForm.author_lastname.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Lastname is mandatory.
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 10px">
            <img src= "/images/no_image.jpg" width="60px" height="80px">
        </div>

        <br>
        <div class="form-group">
            <div class="form-group" style="margin-bottom: 10px">
                <button type="submit"  class="btn btn-success"
                        ng-click="ctrl.update(ctrl.user.id)">Update
                </button>
                <button class="btn btn-primary" ng-click="ProtectedDetailCtrl.back()">Cancel</button>
            </div>
        </div>
    </form>
</div>